.new {
    display: flex;
    margin: 50px 0;
    background-color: rgb(3, 75, 152);
    padding: 20px;
    border-radius: 5px;
    transition: 0.5s;
}
.new:hover {
    transform: scale(105%);
    box-shadow: 10px 20px 20px black;
}
.new__title {
    color: white;
    font-size: 22px;
    padding: 5px 20px;
    font-weight: 400;
}
.new__body {
    color: rgb(172, 169, 169);
    font-size: 16px;
    padding: 5px 20px;
    font-weight: 200;
}
.new__more {
    padding: 5px 20px;
}
.new__img {
    width: 200px;
    height: 180px;
    border-radius: 5px;
    box-shadow: 8px 10px 15px black;
    border: 1px solid black;
}
.new__link {
    text-decoration: none;
    color: black; 
    font-size: 18px;  
    transition: 0.5s;
    font-weight: 500;
}
.new__link:hover {
    color: rgb(12, 12, 121);
}
.new__category {
    font-size: 14px;
    color: rgb(160, 149, 149);
    padding: 0 20px;
    text-transform: uppercase;
}
