.footer_div {
    background: linear-gradient(rgb(0, 123, 255), black);
    height: 200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 10px -20px 20px black;
}
.footer {
    width: 100%;
}
.footer_info {
    height: 200px;
    background-color: black;
    padding: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}
.footer_list {
    display: flex;
    justify-content: space-around;
    margin: 50px;
    width: 100%;
}
.logo {
    width: 150px;
    height: 120px;
    border-radius: 10px;
    background-image: url("https://i.pinimg.com/originals/26/91/f2/2691f2fa1a0f078f5f274edf7fea6763.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 20px;
}