.list {
    display: flex;
    justify-content: space-around;

}
.footer_item {
    display: block;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    padding: 5px 16px;
    font-size: 16px;
    font-weight: 600;
}